.container {
  text-align: center;
}
.pastes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 60.6px;
}
.card-container {
  margin: 0 auto 2em auto;
}
.btn {
  font-size: 1rem;
  padding: 0.35em 0.5em;
  text-align: left;
  background-color: #007e48;
  color: aliceblue;
  border-style: none;
  border-radius: 3px;
  font-weight: 500;
}
