.register-form {
  text-align: center;
}

.register-form > input {
  margin: 0.5em auto 2.5em auto;
  width: 85%;
  padding: 0.35em 0;
  font-size: 1rem;
}
.btn {
  font-size: 1rem;
  padding: 0.35em 0;
  text-align: center;
  background-color: #007e48;
  color: aliceblue;
  border-style: none;
  border-radius: 3px;
  font-weight: 500;
}
.container {
  text-align: center;
}
