.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

form > label {
  font-size: 1.25rem;
}
form > input {
  font-size: 1.25rem;
  width: 35%;
  margin: 0.5em auto 2.5em auto;
  display: block;
}
.paste-input__body {
  display: block;
  margin: 0 auto;
  width: 46.55%;
  margin: 0.5em auto 2.5em auto;
  text-align: center;
  max-width: 90%;
}
.btn {
  font-size: 1rem;
  padding: 0.35em 0;
  text-align: center;
  background-color: #007e48;
  color: aliceblue;
  border-style: none;
  border-radius: 3px;
  font-weight: 500;
  width: 46.55%;
}
.title {
  text-align: center;
}
