.card-small {
  padding: 1.5em;
  border-radius: 5px;
  margin: 0 auto;
  width: 400px;
  background-color: #011462;
  box-shadow: 0px 0 17px 0px rgb(0, 0, 0, 0.35);
  color: #fff;
}
.card-big {
  padding: 1.5em;
  border-radius: 5px;
  margin: 0 auto;
  width: 800px;
  background-color: #011462;
  box-shadow: 0px 0 17px 0px rgb(0, 0, 0, 0.35);
  color: #fff;
}
